<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<rewrite>
		<rules>
			<rule name="Reescribir controlador">
				<match url=".*" />
				<action type="Rewrite" url="Controlador.php" />
			</rule>
		</rules>
		</rewrite>
        <security>
            <requestFiltering allowDoubleEscaping="true" />
        </security>
    </system.webServer>
</configuration>